{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    {% for product in popular_products %}
    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="{% url 'product_detail' product.id %}" class="img-wrap">
                {% if product.images %}
                    <img src="{{ product.images.url }}" alt="{{ product.product_name }}">
                {% else %}
                    <img src="{% static 'images/default.png' %}" alt="No Image">
                {% endif %}
            </a>
            <figcaption class="info-wrap">
                <a href="{% url 'product_detail' product.id %}" class="title">{{ product.product_name }}</a>
                <div class="price mt-1">{{ product.price }}₮</div>
            </figcaption>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}











